<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>

<body id="page-top">
<div id="wrapper">
  <div th:replace="~{fragments/nav.html :: fragment-nav}"></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav th:replace="~{fragments/topbar.html :: fragment-topbar}"></nav>
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">System Setting</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">메뉴 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>

        <div class="row mt-3">
          <div class="col-4">
            <div class="border-left-primary bg-white card-body">
              <div id="tree">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="border-left-primary bg-white card-body container">
              <div class="row">
                <div class="col-sm-8">
                  <h3 id="sysSetTitle">title</h3>
                </div>
                <div class="col-sm-4">
                  <div class="text-right">
                    <a href="#" class="btn btn-success btn-icon-split disabled" id="saveInfo">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                      <span class="text">저장</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row text-center mt-5">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="selectDeps">Deps</label>
                  <select class="form-select" id="selectDeps">
                    <option selected>폴더를 선택해주세요.</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Domain</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" id="categoryPath">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>
<script>
  $(function () {

    $("#sysSetTitle").text("폴더를 선택해주세요.");

    $.ajax({
      type: "POST",
      url: "/menu/rest/category",
      contentType : "application/x-www-form-urlencoded;charset=UTF-8",
      error: function() {
        console.log('통신실패!!');
      },
      success: function(result) {
        let core = [];
        let rootParent = "#";
        result.forEach(elem => {
          if (elem.parent === "CATE00A000") {
            elem.parent = rootParent;
          }
          let data = {
            id: elem.categoryId,
            parent: elem.parent,
            text: elem.categoryName,
            data: {
              path: elem.categoryPath,
              depth: elem.depth
            }
          };
          core.push(data);
        });

        $('#tree').jstree({
          "core": {
            "data": core
          }
        });
      }
    });

    // 클릭시
    $('#tree').on("changed.jstree", function (e, data) {

      $("#saveInfo").removeClass("disabled")
      $("#sysSetTitle").text(data.node.text);

      if(data.node.data.depth > 1) {
        $("#categoryPath").val(data.node.data.path);
      } else {
        $("#categoryPath").val("최상위 폴더입니다. url이 필요없습니다.");
      }
      console.log(data.selected);
    });

    $("#saveInfo").click(function () {
      console.log("awesome")
    })




    // 6 create an instance when the DOM is ready

    // 7 bind to events triggered on the tree
    // $('#jstree').on("changed.jstree", function (e, data) {
    //   console.log(data.selected);
    // });
    // // 8 interact with the tree - either way is OK
    // $('button').on('click', function () {
    //   $('#jstree').jstree(true).select_node('child_node_1');
    //   $('#jstree').jstree('select_node', 'child_node_1');
    //   $.jstree.reference('#jstree').select_node('child_node_1');
    // });
  });

</script>
</body>

</html>